// Colors
// ---------------------------------

// Default

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-transparent: rgba(255, 255, 255, 0);

// Text

$color-text-base:                #000000;
$color-text-white:               #ffffff;
$color-text-dark:                #1f1f1f;
$color-text-white-80:            rgba(255, 255, 255, 0.8);
$color-text-white-70:            rgba(255, 255, 255, 0.7);
$color-text-black-50:            rgba(0, 0, 0, 0.5);
$color-text-black-70:            rgba(0, 0, 0, 0.7);
$color-text-accent:              #0ad9c6;
$color-text-placeholder:         rgba(28, 28, 28, 0.5);
$color-text-input:               #1c1c1c;
$color-text-input-placeholder:   rgba(28, 28, 28, 0.5);
$color-text-menu:                #48494d;
$color-text-arrow:               rgba(44, 46, 63, 0.5);


// Button

$color-button-bg:               #0ad9c6;
$color-button-border:           #1f1f1f;


// Background

$color-bg-primary: #ffffff; // цвет заднего фона сайта
$color-bg-dark:    #131314;
$color-bg-hero:    #0e0e0e;
$color-bg-light:   #f6f7f9;

// Icon

$color-icon-base:  #0ad9c6;
$color-icon-bg:    #0ad9c6;
$color-icon-hover: #ffffff;

// Form

$color-form-primary: #ffffff;
$color-form-error: #ff121f;
$color-input-border: #0ad9c6;

// Other
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-30: rgba(255, 255, 255, 0.3);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-opensans:                    "OpenSans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1440:                           1440px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
