@mixin text-opensans-46-64-700 {
  font-family: $ff-opensans;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -0.23px;
}

@mixin text-opensans-30-42-700 {
  font-family: $ff-opensans;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -0.15px;
}

@mixin text-opensans-30-30-600 {
  font-family: $ff-opensans;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.15px;
}

@mixin text-opensans-28-38-700 {
  font-family: $ff-opensans;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: -1.273px;
}

@mixin text-opensans-24-41-600 {
  font-family: $ff-opensans;
  font-size: 24px;
  line-height: 41px;
  font-weight: 600;
  letter-spacing: -0.12px;
}

@mixin text-opensans-22-34-600 {
  font-family: $ff-opensans;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

@mixin text-opensans-22-34-400 {
  font-family: $ff-opensans;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

@mixin text-opensans-20-32-300 {
  font-family: $ff-opensans;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.1px;
}

@mixin text-opensans-20-28-400 {
  font-family: $ff-opensans;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

@mixin text-opensans-18-34-400 {
  font-family: $ff-opensans;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: -0.5px;
}


@mixin text-opensans-18-32-300 {
  font-family: $ff-opensans;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.09px;
}

@mixin text-opensans-18-30-600 {
  font-family: $ff-opensans;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.09px;
}

@mixin text-opensans-18-28-600 {
  font-family: $ff-opensans;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.09px;
}

@mixin text-opensans-17-31-400 {
  font-family: $ff-opensans;
  font-size: 17px;
  line-height: 31px;
  font-weight: 400;
}

@mixin text-opensans-17-28-600 {
  font-family: $ff-opensans;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.085px;
}

@mixin text-opensans-16-32-300 {
  font-family: $ff-opensans;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

@mixin text-opensans-16-28-300 {
  font-family: $ff-opensans;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: -0.08px;
}

@mixin text-opensans-16-22-400 {
  font-family: $ff-opensans;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

@mixin text-opensans-15-24-400 {
  font-family: $ff-opensans;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

@mixin text-opensans-15-21-600 {
  font-family: $ff-opensans;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
}

@mixin title-2 {
  @include text-opensans-30-30-600;

  color: $color-text-dark;

  @include vp-1439 {
    @include text-opensans-24-41-600;
  }
}
