section.about
  .container
    .about__wrapper
      h2 Несколько фактов о нас
      ol
        li Самый широкий выбор велосипедов!
        li Доставка велосипедов по всей России!
        li Большой выбор крутых аксессуаров!
        li Профессиональные консультации!
