include ../../config-data.pug
include card/card-data.pug
include card/card.pug


section.catalog
  .container
    .catlog__wrapper
      h2 Виды велосипедов
      each card in card_data
        +card(card, genConfig)
