include card/card-data.pug
include card/card.pug


section.catalog
  .container
    h2 Виды велосипедов
    .catalog__wrapper
      each card in card_data
        +card(card, genConfig)(class="catalog__card")
