footer.footer
  .footer__contacts
    a(href="mailto:puteshestviemechta@gmail.ru")
      .
        <svg width="26" height="20" viewBox="0 0 26 20"  xmlns="http://www.w3.org/2000/svg" aria-label="Адрес">
          <use href="img/sprite.svg#email"></use>
        </svg>
      span puteshestviemechta@gmail.ru
    a(href="tel:+749978468446")
      .
        <svg width="22" height="24" viewBox="0 0 22 24"  xmlns="http://www.w3.org/2000/svg" aria-label="Адрес">
          <use href="img/sprite.svg#phone"></use>
        </svg>
      span +7 (499) -784-684-46
