include ../mixins/input.pug

section.hero
  .hero__wrapper
    .hero__description
      .hero__text
        h1 Мы&nbsp;продаем велосипеды
        p Наш магазин отбирает только самые лучшие велосипеды для продажи
    .hero__form(data-form-validate, data-callback="base")
      form(method="post", action="https://echo.htmlacademy.ru/courses")
        p Заполните поля ниже и&nbsp;мы подберем велосипед Вашей мечты
        +input({
          inputPlaceholder: "Введите ваше имя",
          inputName: "name",
          inputAreaLabel: "Введите ваше имя"
        })(class="hero__input", data-validate-type="text", data-limitation="name", data-message-base="Поле обязательно к заполнению", data-message-extra="Проверьте корректность заполнения поля", data-required)
        +input({
          inputType: "tel",
          inputPlaceholder: "Введите ваш номер телефон",
          inputAreaLabel: "Введите ваш номер телефон",
          inputName: "phone"
        })(class="hero__input", data-validate-type="phone", data-on-input-validate, data-message-base="Поле обязательно к заполнению", data-message-extra="Проверьте корректность заполнения поля", data-message-success="Поле заполнено верно", data-required)
        button.hero__btn.btn.btn--form(type="submit") Подобрать велосипед мечты
