.about {
  padding-top: 150px;
  padding-bottom: 100px;

  @include vp-1439 {
    padding-top: 35px;
    padding-bottom: 70px;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include vp-1439 {
    padding-left: 70px;
    padding-right: 70px;
    gap: 30px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.about__wrapper h2 {
  @include title-2;

  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.about__wrapper ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 40px;

  list-style-type: none;
  counter-reset: li;

  @include vp-1439 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 45px;
  }
}

.about__wrapper li {
  @include text-opensans-22-34-400;
  display: flex;
  flex-direction: column;
  gap: 14px;

  align-items: center;
  text-align: center;

  counter-increment: li;

  @include vp-1439 {
    gap: 15px;
  }

  @include vp-767 {
    @include text-opensans-18-34-400;

    gap: 10px;
  }

  &::before {
    @include text-opensans-28-38-700;

    display: block;
    font-family: inherit;
    content: "0"counter(li);

    color: $color-text-accent;
  }
}
