.btn {
  @include text-opensans-15-21-600;

  display: inline-flex;
  padding: 16px 48px 14px;
  border-radius: 6px;

  color: $color-text-base;

  background-color: $color-button-bg;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active-hover {
    color: $color-text-white;
    opacity: 0.3;
  }
}
