.catalog {
  padding-top: 180px;
  padding-bottom: 240px;
  position: relative;

  @include vp-1439 {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 97%;
    width: 75%;
    top: 0;
    right: 0;
    background-color: $color-bg-light;
    z-index: -10;

    @include vp-1439 {
      width: 100%;
      height: 100%;
    }
  }
}

.catalog__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 20px;
  padding-right: 20px;

  @include vp-1439 {
    align-items: start;
    padding-left: 0;
    padding-right: 0;
  }

  @include vp-767 {
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    gap: 43px;
  }
}

.catalog__card {
  flex-grow: 1;

  @include vp-1439 {
    max-width: 39%;
  }

  @include vp-767 {
    width: 100%;
    max-width: 100%;
  }

  &:nth-of-type(2n) {
    margin-bottom: -8%;

    @include vp-1439 {
      margin-bottom: 0;
    }
  }
}

.catalog h2 {
  @include title-2;

  margin-top: 0;
  margin-bottom: 55px;
  text-align: center;

  @include vp-1439 {
    margin-bottom: 30px;
  }
}
