.find-us {
  padding: 150px 240px 0;

  @include vp-1439 {
    padding: 60px 35px 0;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
  }
}

.find-us__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-us__header {
  margin-bottom: 35px;
  max-width: 585px;

  @include vp-1439 {
    max-width: 100%;
    margin-bottom: 20px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.find-us__header h2 {
  @include title-2;

  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  @include vp-1439 {
    margin-bottom: 15px;
  }

  @include vp-767 {
    @include text-opensans-18-30-600;
  }
}

.find-us__header p {
  @include text-opensans-17-31-400;

  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.find-us__header cite {
  font-style: normal;
}

.find-us__map {
  width: 100%;
  height: 530px;

  @include vp-1439 {
    height: 545px;
  }

  @include vp-767 {
    height: 250px;
  }
}
