.hero {
  background-color: $color-bg-hero;
  background-image: url("../img/common/bike-desktop.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  min-height: 825px;

  @include vp-1439 {
    background-image: url("../img/common/bike-tablet.jpg");
    min-height: 340px;
    background-position-y: -100px;
  }

  @include vp-767 {
    background-image: url("../img/common/bike-mobile.jpg");
    min-height: 390px;
    background-position-y: 0;
  }
}

.hero__wrapper {
  display: flex;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 320px;
  gap: 150px;

  @include vp-1439 {
    max-width: unset;
    flex-direction: column;
    padding-top: 0;
    gap: 0;
  }
}

.hero__description {
  padding-top: 50px;

  @include vp-1439 {
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 135px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding: 120px 15px 70px;
  }
}

.hero__description h1 {
  @include text-opensans-46-64-700;

  color: $color-text-white;
  margin-top: 0;
  margin-bottom: 25px;

  @include vp-1439 {
    @include text-opensans-30-42-700;

    text-align: center;
    margin-bottom: 20px;
  }
}

.hero__description p {
  @include text-opensans-20-32-300;

  color: $color-text-white-80;
  margin-top: 0;
  margin-bottom: 0;

  @include vp-1439 {
    @include text-opensans-18-32-300;

    text-align: center;
  }
}

.hero__form {
  @include vp-1439 {
    background-color: $color-bg-primary;
    padding-top: 70px;
    padding-bottom: 35px;
  }
}

.hero__form form {
  @include vp-1439 {
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero__form p {
  @include text-opensans-17-28-600;

  color: $color-text-white;
  margin-top: 0;
  margin-bottom: 22px;
  text-align: center;

  @include vp-1439 {
    @include text-opensans-18-28-600;

    color: $color-text-base;
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.hero__input {
  padding-bottom: 20px;
}

.hero__btn {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.hero__form .input-message {
  font-size: 12px;
}
