.site-nav {
  display: flex;
  position: relative;
  top: 0;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1439 {
    width: 100%;
    max-width: unset;
  }
}

.site-nav__logo {
  position: absolute;
  top: 320px;
  left: 0;

  @include vp-1439 {
    top: 25px;
    left: 20px;
  }

  @include vp-767 {
    left: 15px;
  }
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  border-bottom: 1px solid $color-white-20;

  &--closed {
    @include vp-1439 {
      display: none;
    }
  }

  @include vp-1439 {
    flex-direction: column;
    border-bottom: none;
    justify-content: flex-start;
    gap: 30px;
    z-index: 10;

    background-color: $color-bg-light;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    width: 320px;
    margin-left: auto;
  }
}

.site-nav__item {
  display: flex;
  align-items: center;
  list-style-type: none;

  @include vp-1439 {
    background-color: $color-bg-light;
  }
}

.site-nav__link {
  @include text-opensans-16-32-300;

  color: $color-text-white-70;
  text-decoration: none;

  padding: 21px 20px 9px;
  display: block;

  @include vp-1439 {
    @include text-opensans-20-28-400;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-menu;
    width: 100%;
    padding: 16px;
  }

  &:hover {
    background-color: $color-bg-primary;
    color: $color-text-dark;

    @include vp-1439 {
      background-color: $color-text-dark;
      color: $color-text-white;
    }

    & .site-nav__arrow {
      color: $color-text-white;
    }
  }

  &:focus {
    background-color: $color-bg-primary;
    color: $color-text-dark;
    outline: none;

    @include vp-1439 {
      background-color: $color-text-dark;
      color: $color-text-white;
    }

    & .site-nav__arrow {
      color: $color-text-white;
    }
  }

  &:active {
    background-color: $color-white-30;
    color: $color-text-white;

    @include vp-1439 {
      background-color: $color-text-dark;
      color: $color-text-white-70;
    }

    & .site-nav__arrow {
      color: $color-text-white-70;
    }
  }
}

.site-nav__arrow {
  display: none;

  @include vp-1439 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text-arrow;
  }
}

.site-nav__toggle {
  display: none;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 20;
  background-color: $color-button-bg;
  background-image: url("../img/burger.svg");
  transition: opacity $trans-default;

  &--close {
    background-color: transparent;
    background-image: url("../img/cross.svg");
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active-hover {
    opacity: 0.3;
  }

  @include vp-1439 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
}


.no-js  {
  & .site-nav {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    background-color: $color-bg-dark;
  }

  & .site-nav__logo {
    position: relative;
    top: 0;

  }

  & .site-nav__toggle {
    display: none;
  }

  &  .site-nav__list {
    width: 100%;
    height: unset;
    z-index: 0;
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  & .site-nav__item {
    background-color: transparent;
  }

  & .site-nav__link {
    color: $color-text-white-70;

    &:hover {
      color: $color-text-white;
    }

    &:focus {
      color: $color-text-white;
    }

    &:active {
      opacity: 0.3;
    }
  }

  & .site-nav__arrow {
    color: $color-text-white-70;

    &:active {
      opacity: 0.3;
    }
  }
}
