extends ../components/layout/layout.pug

block variables
  - let title = "Интернет-магазин велосипедов"
  - let description = "Продажа велосипедов на любой вкус"
  - let keywords = "велосипеды"
  - let page = "index"

block content
  main
    include ../components/blocks/hero.pug
