include ../../mixins/image.pug

mixin card(cardData)

  .card&attributes(attributes)
    h3=cardData.cardTitle
    +image({
      devMode: cardData.image.devMode,
      mediaTablet: cardData.image.mediaTablet,
      mediaDesktop: cardData.image.mediaDesktop,
      alt: cardData.image.alt,
      mobileWidth: cardData.image.mobileWidth,
      mobileHeight: cardData.image.mobileHeight,
      mobileSrc: cardData.image.mobileSrc,
      mobileSrc2x: cardData.image.mobileSrc2x,
      mobileSrcWebp: cardData.image.mobileSrcWebp,
      mobileSrc2xWebp: cardData.image.mobileSrc2xWebp,
      tabletWidth: cardData.image.tabletWidth,
      tabletHeight: cardData.image.tabletHeight,
      tabletSrc: cardData.image.tabletSrc,
      tabletSrc2x: cardData.image.tabletSrc2x,
      tabletSrcWebp: cardData.image.tabletSrcWebp,
      tabletSrc2xWebp: cardData.image.tabletSrc2xWebp,
      desktopWidth: cardData.image.desktopWidth,
      desktopHeight: cardData.image.desktopHeight,
      desktopSrc: cardData.image.desktopSrc,
      desktopSrc2x: cardData.image.desktopSrc2x,
      desktopSrcWebp: cardData.image.desktopSrcWebp,
      desktopSrc2xWebp: cardData.image.desktopSrc2xWebp,
    })

