include ../../mixins/image.pug

mixin card(cardData, genConfig)

  .card&attributes(attributes)
    h3=cardData.cardTitle
    +image({
      devMode: genConfig.devMode,
      mediaTablet: genConfig.mediaQueries.tablet,
      mediaDesktop: genConfig.mediaQueries.desktop,
      alt: cardData.image.alt,
      mobileWidth: cardData.image.mobile.width,
      mobileHeight: cardData.image.mobile.height,
      mobileSrc: cardData.image.mobile.src,
      mobileSrc2x: cardData.image.mobile.src2x,
      mobileSrcWebp: cardData.image.mobile.srcWebp,
      mobileSrc2xWebp: cardData.image.mobile.src2xWebp,
      tabletWidth: cardData.image.tablet.width,
      tabletHeight: cardData.image.tablet.height,
      tabletSrc: cardData.image.tablet.src,
      tabletSrc2x: cardData.image.tablet.src2x,
      tabletSrcWebp: cardData.image.tablet.srcWebp,
      tabletSrc2xWebp: cardData.image.tablet.src2xWebp,
      desktopWidth: cardData.image.desktop.width,
      desktopHeight: cardData.image.desktop.height,
      desktopSrc: cardData.image.desktop.src,
      desktopSrc2x: cardData.image.desktop.src2x,
      desktopSrcWebp: cardData.image.desktop.srcWebp,
      desktopSrc2xWebp: cardData.image.desktop.src2xWebp,
    })
