-
  const card_data = [
    {
      cardTitle: "Дорожный велосипед",
      image: {
        desktop: {
          src: "./img/content/bike-desktop-1.jpg",
          src2x: "./img/content/bike-desktop-1@2x.jpg",
          srcWebp: "./img/content/bike-desktop-1.webp",
          src2xWebp: "./img/content/bike-desktop-1@2x.webp",
          width: "342",
          height: "503",
        },
        tablet: {
          src: "./img/content/bike-desktop-1.jpg",
          src2x: "./img/content/bike-desktop-1@2x.jpg",
          srcWebp: "./img/content/bike-desktop-1.webp",
          src2xWebp: "./img/content/bike-desktop-1@2x.webp",
          width: "342",
          height: "503",
        },
        mobile: {
          src: "./img/content/bike-mobile-1.jpg",
          src2x: "./img/content/bike-mobile-1@2x.jpg",
          srcWebp: "./img/content/bike-mobile-1.webp",
          src2xWebp: "./img/content/bike-mobile-1@2x.webp",
          width: "270",
          height: "300",
        },
        alt: "Велосипед с корзиной около стены"
      }
    },
    {
      cardTitle: "Горный велосипед",
      image: {
        desktop: {
          src: "./img/content/bike-desktop-2.jpg",
          src2x: "./img/content/bike-desktop-2@2x.jpg",
          srcWebp: "./img/content/bike-desktop-2.webp",
          src2xWebp: "./img/content/bike-desktop-2@2x.webp",
          width: "342",
          height: "566",
        },
        tablet: {
          src: "./img/content/bike-desktop-2.jpg",
          src2x: "./img/content/bike-desktop-2@2x.jpg",
          srcWebp: "./img/content/bike-desktop-2.webp",
          src2xWebp: "./img/content/bike-desktop-2@2x.webp",
          width: "342",
          height: "566",
        },
        mobile: {
          src: "./img/content/bike-mobile-2.jpg",
          src2x: "./img/content/bike-mobile-2@2x.jpg",
          srcWebp: "./img/content/bike-mobile-2.webp",
          src2xWebp: "./img/content/bike-mobile-2@2x.webp",
          width: "270",
          height: "300",
        },
        alt: "Велосипед на вершине горы"
      }
    },
    {
      cardTitle: "Детский велосипед",
      image: {
        desktop: {
          src: "./img/content/bike-desktop-3.jpg",
          src2x: "./img/content/bike-desktop-3@2x.jpg",
          srcWebp: "./img/content/bike-desktop-3.webp",
          src2xWebp: "./img/content/bike-desktop-3@2x.webp",
          width: "342",
          height: "512",
        },
        tablet: {
          src: "./img/content/bike-desktop-3.jpg",
          src2x: "./img/content/bike-desktop-3@2x.jpg",
          srcWebp: "./img/content/bike-desktop-3.webp",
          src2xWebp: "./img/content/bike-desktop-3@2x.webp",
          width: "342",
          height: "342",
        },
        mobile: {
          src: "./img/content/bike-mobile-3.jpg",
          src2x: "./img/content/bike-mobile-3@2x.jpg",
          srcWebp: "./img/content/bike-mobile-3.webp",
          src2xWebp: "./img/content/bike-mobile-3@2x.webp",
          width: "270",
          height: "300",
        },
        alt: "Детский велосипед розового цвета около дома на брущатке"
      }
    }
  ]
