include video-data.pug
include ../../mixins/promo-video.pug

section.video#video
  .video__wrapper
    .video__description
      h2 Видео про велосипеды
      p В&nbsp;этом видео мы&nbsp;подробно расскажем про особенности выбора велосипеда для себя.
    +promo-video(video_data, genConfig)(class="video__promo")
