-
  const video_data = {
    videoLink: "https://www.youtube.com/embed/KkVG8nCbPvU?si=eYjNzb_gS5IHirnS",
    image: {
      desktop: {
        src: "./img/content/bike-video-desktop.jpg",
        src2x: "./img/content/bike-video-desktop@2x.jpg",
        srcWebp: "./img/content/bike-video-desktop.webp",
        src2xWebp: "./img/content/bike-video-desktop@2x.webp",
        width: "929",
        height: "522",
      },
      tablet: {
        src: "./img/content/bike-video-tablet.jpg",
        src2x: "./img/content/bike-video-tablet@2x.jpg",
        srcWebp: "./img/content/bike-video-tablet.webp",
        src2xWebp: "./img/content/bike-video-tablet@2x.webp",
        width: "503",
        height: "282",
      },
      mobile: {
        src: "./img/content/bike-video-mobile.jpg",
        src2x: "./img/content/bike-video-mobile@2x.jpg",
        srcWebp: "./img/content/bike-video-mobile.webp",
        src2xWebp: "./img/content/bike-video-mobile@2x.webp",
        width: "288",
        height: "162",
      },
      alt: "Видео про особенности выбора велосипедов"
    }
  }
